header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 32px;
  background-color: blueviolet;
  color: beige;
  display: block;
}
body {
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

input[type=text] {
  width: 100%;
  padding: 12px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 24px;
  font-size: 20px;
}

input[type=radio] {
  margin-top: 24px;
  display: inline-block;
  font-size: 20px;
  padding: 12px 8px;
}

form { 
  margin: 0 auto; 
  width: 360px;
  background-color: cornsilk;
  padding: 16px;
}

.error {
  color: brown;
}

div {
  margin-top: 10px;
  font-size: 20px;
}

button {
  margin-top: 24px;
  font-size: 20px;
  padding: 8px;
  border-radius: 4px;
}

table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto; 
  width: 720px;
}

th {
  border: 1px solid black;
  height: 50px;
  width: 240px;
}

td {
  border: 1px solid black;
  height: 50px;
  width: 240px;
  padding: 10px;
}

.center{
  margin: auto;
  width: 360px;  
}